:root{
    --preto: #000000;
    --branco: #FFFFFF;
}

body{
    background-color: var(--branco);
}

.main{
    display: flex;
    justify-content: center;
}

.main2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main4{
    display: flex;
    justify-content: left;
    padding: 50px;
}

.main5{
    /* width: 25vw; */
    max-width: 40vw;
    min-width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.spc1{
    margin-top: 5vh;
}

.spc2{
    margin-top: 10vh;
}

.spc3{
    margin-top: 15vh;
}

/* -------------------------------- */

.centerButton{
    display: flex;
    justify-content: center;
}

/* -------------------------------- */

#messageBox {
    display: none; 
    padding: 20px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 80%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
